.input-box{
    font-size: 15px;
    border-radius: 13px;
    padding: 10px;
    width: 350px;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
    /* box-shadow contains four values Horizontal offset, vertical offset, blur, color */
    margin: 12px;
    
}