p{
    color: rgb(88, 81, 81);
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.email-text{
    font-size: 16px;
    margin-bottom: 10px;
}
.btn{
   background-color: rgb(16, 73, 230);
   border: none;
   color: white;
   border-radius: 20px;
   padding-left: 40px;
   padding-right: 40px;
   font-size: 15px;
     width: 400px;
   padding-top: 10px;
   padding-bottom: 10px ;
  
}

.email-input{
    width: 400px;
    font-size: 16px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
}
.description{
    margin-bottom: 20px;
}